<div id="contacts" data-title="Media Experts" data-role="view" data-layout="main" data-model="app.expertList" data-show="app.expertList.onShow" data-after-show="app.expertList.afterShow">
    
        <ul data-role="listview" endlessScroll="true" id="listview" data-template="contactTemplate" data-filterable="{field: 'FullNameAndTitle', operator: 'contains', autoFilter: false}" data-source="app.expertList.dataSource"></ul>
    
</div>

<script type="text/x-kendo-template" id="contactTemplate">
    #if (data.LastName != ""){#
    <div onclick="javascript: app.mobileApp.navigate('./components/contact/view.html?contentId=' + #: data.ContentId #);">
        <div class="contact-item">
            <div class="contact-text">
                <h3>#:data.LastName#, #:data.FirstName#</h3>
                <p class="ui-li-desc">#:data.JobTitle# </p>
                <p class="ui-li-desc">#:data.JobTitle2# </p>
                <p class="ui-li-desc">#:data.JobTitle3# </p>
                <p class="ui-li-desc">#if (data.Department = null) {# #=data.Department# #} #</p>
                <a class="tweet-link km-widget km-detaildisclose km-detail" data-role="detailbutton" data-style="detaildisclose"
                    onclick="javascript: app.mobileApp.navigate('./components/contact/view.html?contentId=' + #: data.ContentId #);"></a>
            </div>

        </div>

    </div>
    #} #
</script>